@use '../base/base';

@mixin flex-center($direction, $j-content, $a-items, $gap-size) {
  display: flex;
  flex-direction: $direction;
  justify-content: $j-content;
  align-items: $a-items;
  gap: $gap-size;
}

@mixin respond($tamanho) {
  @if $tamanho == extra-small {
    @media (max-width: 480px) {
      @content;
    }
  }

  @if $tamanho == small {
    @media (max-width: 640px) {
      @content;
    }
  }

  @if $tamanho == medium {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $tamanho == large {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

@mixin link-and-visited($style: normal, $weight: normal, $size) {
  text-decoration: none;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
}

@mixin link-and-visited-2($size, $padding) {
  text-decoration: none;
  font-weight: 600;
  font-size: $size;
  padding: $padding;
  background-color: base.$color-violet-950;
  color: base.$color-violet-300;
  border-radius: 1rem;
  border: solid 0.1rem base.$color-violet-950;
}

@mixin link-and-visited-3($size, $padding) {
  text-decoration: none;
  font-weight: 600;
  font-size: $size;
  padding: $padding;
  background-color: base.$color-violet-300;
  color: base.$color-violet-950;
  border-radius: 1rem;
  border: solid 0.1rem base.$color-violet-300;
}

@keyframes pokeboll-rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  75% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes mobile-aside-animation-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes mobile-aside-animation-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.mobile-aside-animation-in {
  animation: 1s ease-out mobile-aside-animation-in;
}

.mobile-aside-animation-out {
  animation: 1s ease-in mobile-aside-animation-out;
}

@keyframes cart-aside-animation-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes cart-aside-animation-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.cart-aside-animation-in {
  animation: 1s ease-out cart-aside-animation-in;
}

.cart-aside-animation-out {
  animation: 1s ease-in cart-aside-animation-out;
}

@keyframes background-aside-animation-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes background-aside-animation-out {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.background-aside-animation-in {
  animation: 1s ease-out background-aside-animation-in;
}

.background-aside-animation-out {
  animation: 1s ease-in background-aside-animation-out;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.hidden {
  opacity: 0%;
  transform: scale(0.9);
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.show {
  opacity: 100%;
  transform: scale(1);
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
