@use '../abstracts/auxiliaries';
@use '../base/base';

#footer {
  @include auxiliaries.flex-center(column, center, center, 0);
  width: 100%;
  padding: 5rem 10rem;
  background-color: base.$color-violet-950;
  color: base.$color-violet-300;

  @include auxiliaries.respond(extra-small) {
    padding: 5rem 5rem;
  }

  &__top-side {
    @include auxiliaries.flex-center(row, space-between, center, 0);
    width: 100%;
    margin-bottom: 3rem;

    @include auxiliaries.respond(medium) {
      @include auxiliaries.flex-center(column, space-between, center, 2rem);
      margin-bottom: 2rem;
    }

    &__icon-and-title {
      @include auxiliaries.flex-center(row, end, center, 0.2rem);
      cursor: default;

      @include auxiliaries.respond(medium) {
        border-bottom: solid 0.1rem base.$color-violet-300;
      }

      h1 {
        font-size: 2rem;
        transition: all 0.3s ease-out;
        padding: 1rem 1rem 1rem 0;

        @include auxiliaries.respond(small) {
          font-size: 1.5rem;
          padding: 0.5rem 0.5rem 0.5rem 0;
        }
      }

      img {
        image-rendering: pixelated;
        height: 5rem;
        @include auxiliaries.respond(small) {
          height: 3rem;
        }
      }
    }

    &__nav {
      @include auxiliaries.flex-center(row, center, center, 4rem);

      @include auxiliaries.respond(small) {
        @include auxiliaries.flex-center(row, center, center, 2rem);
      }

      @include auxiliaries.respond(extra-small) {
        @include auxiliaries.flex-center(row, center, center, 1rem);
      }

      a {
        transition: all 0.3s ease-out;
        &:link,
        &:visited {
          @include auxiliaries.link-and-visited(italic, 300, 1.5rem);
          color: base.$color-violet-300;

          @include auxiliaries.respond(small) {
            @include auxiliaries.link-and-visited(italic, 300, 1.2rem);
          }
        }
        &:active {
          color: base.$color-violet-500;
        }
      }
    }
  }

  &__division {
    width: 100%;
    border-bottom: solid 0.1rem base.$color-violet-300;
  }

  &__bottom-side {
    margin-top: 1rem;
    @include auxiliaries.flex-center(row, space-between, center, 0);
    width: 100%;

    @include auxiliaries.respond(medium) {
      @include auxiliaries.flex-center(column, space-between, center, 0);
    }

    &__copyright {
      @include auxiliaries.flex-center(row, space-between, center, 2rem);

      @include auxiliaries.respond(medium) {
        @include auxiliaries.flex-center(column, space-between, center, 2rem);
        margin-bottom: 2rem;
      }

      @include auxiliaries.respond(small) {
        @include auxiliaries.flex-center(column, space-between, center, 1.5rem);
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.2rem;
        text-align: center;

        @include auxiliaries.respond(small) {
          font-size: 1rem;
        }
      }

      &__term-and-privacy {
        @include auxiliaries.flex-center(row, space-between, center, 2rem);

        a {
          transition: all 0.3s ease-out;
          &:link,
          &:visited {
            @include auxiliaries.link-and-visited(normal, 900, 1.2rem);
            color: base.$color-violet-300;

            @include auxiliaries.respond(small) {
              @include auxiliaries.link-and-visited(normal, 900, 1rem);
            }
          }
          &:active {
            color: base.$color-violet-500;
          }
        }
      }
    }

    &__social-media {
      @include auxiliaries.flex-center(row, space-between, center, 3rem);

      a {
        transition: all 0.3s ease-out;

        i {
          font-size: 2rem;

          @include auxiliaries.respond(small) {
            font-size: 1.4rem;
          }
        }

        &:link,
        &:visited {
          @include auxiliaries.link-and-visited(normal, 900, 1.2rem);
          color: base.$color-violet-300;
        }
        &:active {
          color: base.$color-violet-500;
        }
      }
    }
  }
}
