@use '../abstracts/auxiliaries';
@use '../base/base';

#header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: base.$color-violet-500;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  padding: 1rem 3rem 1rem 3rem;
  box-shadow: 0rem 0.5rem 1rem rgba(base.$color-violet-950, 0.15);

  @include auxiliaries.respond(large) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }

  @include auxiliaries.respond(extra-small) {
    padding: 1rem 3rem 1rem 2rem;
  }

  &__icon-and-title {
    @include auxiliaries.flex-center(row, end, center, 0.2rem);
    cursor: default;
    transition: all 0.5s ease-out;

    @include auxiliaries.respond(large) {
      @include auxiliaries.flex-center(row, start, center, 0.2rem);
    }

    h1 {
      font-size: 1.8rem;
      transition: all 0.5s ease-out;
      padding: 1rem 1rem 1rem 0;
      white-space: nowrap;

      @include auxiliaries.respond(extra-small) {
        font-size: 1.5rem;
      }

      span {
        color: base.$color-violet-300;
        transition: all 0.5s ease-out;
      }
    }

    img {
      image-rendering: pixelated;
      height: 4rem;

      @include auxiliaries.respond(extra-small) {
        height: 3rem;
      }
    }

    &:hover {
      h1 {
        color: base.$color-violet-300;
        transform: scale(1.03);

        span {
          color: base.$color-violet-950;
          transform: scale(1.03);
        }
      }

      img {
        animation: 2s ease-in-out pokeboll-rotate;
      }
    }
  }

  &__nav {
    @include auxiliaries.flex-center(row, center, center, 4rem);

    @include auxiliaries.respond(large) {
      display: none;
    }

    a {
      color: base.$color-violet-900;
      transition: all 0.3s ease-out;

      &:link,
      &:visited {
        @include auxiliaries.link-and-visited(italic, 300, 1.5rem);
        color: base.$color-violet-900;
      }
      &:hover {
        color: base.$color-violet-300;
        text-shadow: 0 0 1rem rgba(base.$color-violet-950, 0.5);
      }
      &:active {
        color: base.$color-violet-400;
      }
    }
  }

  &__user-and-bag {
    @include auxiliaries.flex-center(row, start, center, 1.5rem);

    @include auxiliaries.respond(large) {
      @include auxiliaries.flex-center(row, end, center, 1.5rem);
    }

    a {
      color: base.$color-violet-900;
      transition: all 0.3s ease-out;

      &:link,
      &:visited {
        @include auxiliaries.link-and-visited($size: 2rem);
        color: base.$color-violet-900;
      }
      &:hover {
        color: base.$color-violet-300;
        text-shadow: 0 0 1rem rgba(base.$color-violet-950, 0.5);
      }
      &:active {
        color: base.$color-violet-400;
      }
    }

    &__bag {
      position: relative;
      span {
        position: absolute;
        background-color: base.$color-violet-950;
        color: base.$color-violet-300;
        font-size: 1rem;
        border-radius: 100%;
        text-align: center;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
