$color-violet-50: #fcf4ff;
$color-violet-100: #f9e8ff;
$color-violet-200: #f2d0fe;
$color-violet-300: #ebabfc;
$color-violet-400: #e079f9;
$color-violet-500: #cf46ef;
$color-violet-600: #ac24c8;
$color-violet-700: #991caf;
$color-violet-800: #7f198f;
$color-violet-900: #6a1a75;
$color-violet-950: #45044e;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-violet-300;
  color: $color-violet-950;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}
