@use '../abstracts/auxiliaries';
@use '../base/base';

#main {
  font-family: 'Montserrat', sans-serif;
  background-color: base.$color-violet-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__apresentation {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-color: base.$color-violet-300;

    @include auxiliaries.respond(medium) {
      grid-auto-flow: row;
      grid-template-columns: none;
    }

    &__texts-and-button {
      @include auxiliaries.flex-center(column, center, flex-end, 1.5rem);
      text-align: end;

      @include auxiliaries.respond(medium) {
        @include auxiliaries.flex-center(column, center, center, 1.5rem);
        margin-top: 100%;
      }

      @include auxiliaries.respond(extra-small) {
        margin-top: 35rem;
      }

      h1 {
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 900;
        color: base.$color-violet-950;
        transition: all 0.3s ease-out;

        @include auxiliaries.respond(large) {
          font-size: 4.5rem;
          line-height: 5rem;
        }

        @include auxiliaries.respond(extra-small) {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }

        span {
          color: base.$color-violet-900;
          text-shadow: 0 0.5rem 1rem rgba(base.$color-violet-500, 0.15);
          transition: all 0.3s ease-out;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: base.$color-violet-700;
        @include auxiliaries.respond(large) {
          font-size: 1.2rem;
        }
        @include auxiliaries.respond(extra-small) {
          font-size: 1rem;
        }
      }

      a {
        z-index: 1000;
        transition: all 0.3s ease-out;
        &:link,
        &:visited {
          @include auxiliaries.link-and-visited-2(2rem, 1.2rem 4rem);

          @include auxiliaries.respond(large) {
            @include auxiliaries.link-and-visited-2(1.4rem, 1.2rem 4rem);
          }
        }
        &:hover {
          color: base.$color-violet-950;
          background-color: base.$color-violet-300;
          box-shadow: 0 0 1rem rgba(base.$color-violet-950, 0.3);
        }
        &:active {
          color: base.$color-violet-300;
          background-color: base.$color-violet-950;
        }
      }
    }

    &__texts-and-button:has(a:hover) {
      h1 {
        color: base.$color-violet-300;
        text-shadow: 0 0 2px rgba(base.$color-violet-950, 100%),
          0 0 2px rgba(base.$color-violet-950, 100%),
          0 0 2px rgba(base.$color-violet-950, 100%),
          0 0 2px rgba(base.$color-violet-950, 100%),
          0 0 2px rgba(base.$color-violet-950, 100%);
      }
    }

    &__gastly {
      position: absolute;
      top: 0;
      right: -20%;

      @include auxiliaries.respond(large) {
        right: -25%;
        transform: scale(0.8);
      }

      @include auxiliaries.respond(medium) {
        height: 60%;
        top: 0%;
        right: 0%;
      }

      @include auxiliaries.respond(small) {
        top: -1%;
        transform: scale(0.7);
      }
    }
  }

  &__new-arrivals {
    @include auxiliaries.flex-center(column, center, stretch, 5rem);
    width: 100%;
    max-width: 1440px;
    padding: 4rem;
    background-color: base.$color-violet-100;
    position: relative;

    h2 {
      font-size: 4rem;

      @include auxiliaries.respond(medium) {
        font-size: 3rem;
      }

      @include auxiliaries.respond(extra-small) {
        font-size: 2.5rem;
      }
    }

    &__button-left {
      all: unset;
      position: absolute;
      z-index: 2000;
      top: 55%;
      left: 2rem;
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      height: 3rem;
      width: 3rem;
      background-color: base.$color-violet-400;
      color: base.$color-violet-700;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: base.$color-violet-800;
        color: base.$color-violet-400;
      }
    }

    &__products {
      display: grid;
      grid-auto-flow: column;
      gap: 2rem;
      overflow-x: hidden;
      scroll-behavior: smooth;

      &__product {
        @include auxiliaries.flex-center(column, center, flex-start, 0);

        h3 {
          font-size: 1.6rem;

          @include auxiliaries.respond(medium) {
            font-size: 1.4rem;
          }
        }

        p {
          font-size: 1.4rem;

          @include auxiliaries.respond(medium) {
            font-size: 1.2rem;
          }
        }

        &__image {
          @include auxiliaries.flex-center(column, center, center, 0);
          height: 25rem;
          width: 20rem;
          background-color: rgba(base.$color-violet-700, 0.15);
          border-radius: 1rem;
          margin-bottom: 2rem;

          img {
            image-rendering: pixelated;
            width: 15rem;
            transition: all 0.3s ease-out;
          }
        }

        &:hover {
          cursor: pointer;
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &__button-right {
      all: unset;
      position: absolute;
      z-index: 2000;
      top: 55%;
      right: 2rem;
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      height: 3rem;
      width: 3rem;
      background-color: base.$color-violet-400;
      color: base.$color-violet-700;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: base.$color-violet-800;
        color: base.$color-violet-400;
      }
    }
  }

  &__shop-collection {
    @include auxiliaries.flex-center(column, center, stretch, 5rem);
    width: 100%;
    max-width: 1440px;
    padding: 4rem;
    background-color: base.$color-violet-100;

    h2 {
      font-size: 4rem;

      @include auxiliaries.respond(medium) {
        font-size: 3rem;
      }

      @include auxiliaries.respond(extra-small) {
        font-size: 2.5rem;
      }
    }

    &__products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;

      @include auxiliaries.respond(small) {
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-template-rows: auto repeat(2, 1fr);
      }

      @include auxiliaries.respond(extra-small) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: auto repeat(2, 1fr);
      }

      &__product__pokeboll {
        grid-row: 1 / 3;
        @include auxiliaries.flex-center(column, center, center, 3rem);
        width: 100%;
        background-color: rgba(base.$color-violet-700, 0.15);
        border-radius: 1rem;
        padding: 5rem;
        transition: all 0.3s ease-out;

        @include auxiliaries.respond(extra-small) {
          padding: 3rem;
        }

        @include auxiliaries.respond(small) {
          grid-row: 1;
        }

        &__text-and-link {
          align-self: flex-start;

          h3 {
            font-size: 3rem;

            @include auxiliaries.respond(medium) {
              font-size: 2.5rem;
            }

            @include auxiliaries.respond(extra-small) {
              font-size: 2rem;
            }
          }

          a {
            text-underline-offset: 0.5rem;
            color: base.$color-violet-900;
            transition: all 0.3s ease-out;

            &:link,
            &:visited {
              color: base.$color-violet-900;
              text-underline-offset: 0.5rem;
              font-style: normal;
              font-weight: normal;
              font-size: 1.6rem;

              @include auxiliaries.respond(medium) {
                font-size: 1.4rem;
              }

              @include auxiliaries.respond(extra-small) {
                font-size: 1.2rem;
              }
            }
            &:hover {
              color: base.$color-violet-700;
            }
            &:active {
              color: base.$color-violet-950;
            }
          }
        }

        img {
          image-rendering: pixelated;
          max-height: 30rem;
          width: 100%;
          object-fit: contain;

          @include auxiliaries.respond(medium) {
            max-height: 20rem;
          }

          @include auxiliaries.respond(extra-small) {
            max-height: 10rem;
          }
        }

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0 2rem rgba(base.$color-violet-500, 0.2);
        }
      }

      &__product__medicine {
        @include auxiliaries.flex-center(
          row-reverse,
          space-between,
          center,
          2rem
        );
        background-color: rgba(base.$color-violet-700, 0.15);
        border-radius: 1rem;
        padding: 5rem;
        transition: all 0.3s ease-out;

        @include auxiliaries.respond(extra-small) {
          padding: 3rem;
        }

        &__text-and-link {
          align-self: flex-end;

          h3 {
            font-size: 3rem;

            @include auxiliaries.respond(medium) {
              font-size: 2rem;
            }

            @include auxiliaries.respond(extra-small) {
              font-size: 1.5rem;
            }
          }

          a {
            text-underline-offset: 0.5rem;
            color: base.$color-violet-900;
            transition: all 0.3s ease-out;

            &:link,
            &:visited {
              color: base.$color-violet-900;
              text-underline-offset: 0.5rem;
              font-style: normal;
              font-weight: normal;
              font-size: 1.6rem;

              @include auxiliaries.respond(medium) {
                font-size: 1.2rem;
              }

              @include auxiliaries.respond(extra-small) {
                font-size: 1rem;
              }
            }
            &:hover {
              color: base.$color-violet-700;
            }
            &:active {
              color: base.$color-violet-950;
            }
          }
        }

        img {
          image-rendering: pixelated;
          max-height: 25rem;
          height: 100%;
          object-fit: contain;

          @include auxiliaries.respond(medium) {
            min-height: 5rem;
          }

          @include auxiliaries.respond(extra-small) {
            max-height: 2rem;
          }
        }

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0 2rem rgba(base.$color-violet-500, 0.2);
        }
      }

      &__product__others {
        @include auxiliaries.flex-center(row, center, center, 0);
        background-color: rgba(base.$color-violet-700, 0.15);
        border-radius: 1rem;
        padding: 3rem 5rem;
        transition: all 0.3s ease-out;

        @include auxiliaries.respond(extra-small) {
          padding: 3rem;
        }

        &__image-and-link {
          @include auxiliaries.flex-center(row-reverse, center, center, 2rem);
          height: 100%;
          width: 100%;

          a {
            text-underline-offset: 0.5rem;
            color: base.$color-violet-900;
            transition: all 0.3s ease-out;

            &:link,
            &:visited {
              color: base.$color-violet-900;
              text-underline-offset: 0.5rem;
              text-decoration-thickness: 0rem;
              font-style: normal;
              font-weight: normal;
              font-size: 4rem;

              @include auxiliaries.respond(medium) {
                font-size: 3rem;
              }

              @include auxiliaries.respond(extra-small) {
                font-size: 2rem;
              }
            }
            &:hover {
              color: base.$color-violet-700;
            }
            &:active {
              color: base.$color-violet-950;
            }
          }

          img {
            image-rendering: pixelated;
            max-height: 25rem;
            height: 100%;
            object-fit: contain;

            @include auxiliaries.respond(medium) {
              min-height: 5rem;
            }

            @include auxiliaries.respond(extra-small) {
              max-height: 2rem;
            }
          }
        }

        &:hover {
          transform: scale(1.02);
          box-shadow: 0 0 2rem rgba(base.$color-violet-500, 0.2);
        }
      }
    }
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1440px;
    padding: 4rem;
    background-color: base.$color-violet-100;

    @include auxiliaries.respond(large) {
      gap: 1rem;
    }

    @include auxiliaries.respond(medium) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }

    @include auxiliaries.respond(small) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }

    &_advantage {
      background-color: base.$color-violet-400;
      padding: 5rem 3rem;
      border-radius: 1rem;
      color: base.$color-violet-900;

      @include auxiliaries.respond(medium) {
        padding: 4rem 2rem;
      }

      h2 {
        @include auxiliaries.respond(large) {
          font-size: 1.8rem;
        }

        @include auxiliaries.respond(extra-small) {
          font-size: 1.4rem;
        }
      }

      p {
        @include auxiliaries.respond(large) {
          font-size: 1.4rem;
        }

        @include auxiliaries.respond(extra-small) {
          font-size: 1.2rem;
        }
      }

      i {
        font-size: 5rem;
        @include auxiliaries.respond(large) {
          font-size: 4rem;
        }

        @include auxiliaries.respond(extra-small) {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__promotion {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: base.$color-violet-800;
    width: 100%;

    @include auxiliaries.respond(medium) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-template-rows: repeat(2, 1fr);
    }

    &__image {
      @include auxiliaries.flex-center(row, flex-end, center, 0);
      background-color: base.$color-violet-500;
      height: 100%;
      padding: 2rem 2rem;

      img {
        max-height: 50rem;
        height: 100%;
        width: 100%;
        object-fit: contain;

        @include auxiliaries.respond(medium) {
          max-height: 35rem;
        }
      }
    }

    &__informations {
      @include auxiliaries.flex-center(column, center, flex-start, 2rem);
      color: base.$color-violet-300;
      padding: 2rem 2rem;

      @include auxiliaries.respond(medium) {
        @include auxiliaries.flex-center(column, center, center, 2rem);
      }

      &__text {
        @include auxiliaries.flex-center(column, center, flex-start, 3rem);

        @include auxiliaries.respond(medium) {
          @include auxiliaries.flex-center(column, center, center, 3rem);
        }

        p {
          &:nth-of-type(1) {
            font-weight: 900;
            color: base.$color-violet-100;
          }

          @include auxiliaries.respond(small) {
            &:nth-of-type(2) {
              font-size: 1.4rem;
            }
          }
          @include auxiliaries.respond(extra-small) {
            &:nth-of-type(1) {
              font-size: 1.4rem;
            }
            &:nth-of-type(2) {
              font-size: 1.2rem;
            }
          }
        }

        h2 {
          @include auxiliaries.respond(extra-small) {
            font-size: 2.5rem;
          }
        }
      }

      &__time {
        @include auxiliaries.flex-center(column, center, flex-start, 1rem);
        &__clock {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: repeat(4, 1fr);
          gap: 2rem;
          width: 40%;
          & div {
            @include auxiliaries.flex-center(column, center, center, 0.5rem);

            & div {
              text-align: center;
              font-size: 3rem;
              padding: 0.5rem 1rem;
              background-color: base.$color-violet-300;
              color: base.$color-violet-950;

              @include auxiliaries.respond(extra-small) {
                font-size: 2.5rem;
              }
            }

            & p {
              text-align: center;
              font-size: 1.2rem;

              @include auxiliaries.respond(extra-small) {
                font-size: 1rem;
              }
            }
          }
        }
      }

      a {
        z-index: 1000;
        transition: all 0.3s ease-out;
        &:link,
        &:visited {
          @include auxiliaries.link-and-visited-3(1.4rem, 1rem 3rem);
        }
        &:hover {
          color: base.$color-violet-300;
          background-color: base.$color-violet-800;
          box-shadow: 0 0 1rem rgba(base.$color-violet-300, 0.3);
        }
        &:active {
          color: base.$color-violet-800;
          background-color: base.$color-violet-300;
        }
      }
    }
  }
}
